@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #216869;
  padding: 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #1f2421;
}

header, main, footer {
  margin: 2rem auto 4rem auto;
}

h1 {
  text-align: center;
  color: #f7fcf9;
  font-size: 3rem;
  font-weight: 600;
}

main {
  width: 60%;
  padding: 2rem;
  background-color: #cad49d;
}

legend {
  margin: 0 auto 2rem auto;
  font-size: 1.6rem;
  font-weight: bold;
}

legend p {
  text-align: center;
}

form {
  width: 80%;
  margin: 0 auto;
}

form > div {
  margin: 0 auto 1.8rem auto;
  padding: 0;
  background-color: pink;
  position: relative;
  overflow: hidden;
}

form > div > div {
  margin: 0 auto 0 auto;
  padding: 0;
  background-color: cyan;
  position: relative;
  overflow: hidden;
}

.enters label {
  width: 50%;
  margin: 0 0.5rem 0 auto;
  float: left;
  background-color: yellow;
  text-align: right;
  position: relative;

}

.boxes label {
  width: 50%;
  margin: 0 auto 0 0.5rem;
  float: right;
  text-align: left;
  background-color: red;
}

label p {
  display: block;
  font-size: 1rem;
  line-height: 1.2rem;
}


input {
  height: 2rem;
}

input, textarea {
  background-color: #f7fcf9;
  border: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 40%;
  margin-left: 0.5rem;
}


















footer {
  text-align: center;
  font-weight: bold;
  color: #cad49d;
}
