/* TO DO
- cleaning
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #216869;
  padding: 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #1f2421;
}

header, main, footer {
  margin: 2rem auto 4rem auto;
}

a {
  text-decoration: none;
  color: #ff7519;
}

a:hover {
  color: #f7fcf9;
}

h1 {
  text-align: center;
  color: #f7fcf9;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 5px 5px 20px #000;
}

main {
  display: block;
  width: 80%;
  max-width: 1050px;
  padding: 2rem;
  background-color: #cad49d;
  box-shadow: 5px 5px 20px #000;
}

legend {
  width: 100%;
  margin: 0 auto 4rem auto;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

legend p {
  margin-bottom: 2rem;
}

form {
  width: 100%;
  padding: 0 0.5rem 0 0.5rem;
}

form > div {
  margin: 0 auto 2.5rem auto;
  overflow: hidden;
}

label:hover {
  font-weight: bold;
}

.enters label {
  width: 50%;
  margin: 0 0.5rem 0 auto;
  float: left;
  text-align: right;
}

.boxescon {
  display: flex;
}

.boxescon > div {
  width: 40%;
  margin-left: 0.5rem;
}

.boxescon > p {
  display: inline;
  width: 50%;
  text-align: right;
}

.boxes {
  width: 100%;
  overflow: hidden;
}

.tips {
  font-size: 1rem;
  line-height: 1.2rem;
}

input, textarea, select {
  margin-left: 0.5rem;
  background-color: #f7fcf9;
  border: 3px solid #f7fcf9;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

select,
input[type="text"],
input[type="email"],
input[type="number"] {
  height: 2rem;
  width: 40%;
}

input[type="radio"] {
  background-color: #cad49d;
}

input:invalid+span:after {
  content: "✖";
  padding-left: 5px;
  color: #b21111;
  font-weight: bold;
}

input:valid+span:after {
  content: "✓";
  padding-left: 5px;
  color: #6e9e00;
  font-weight: bold;
}

textarea {
  width: 40%;
  height: 10rem;
}

input:focus,
select:focus,
textarea:focus {
  background-color: #fff;
  border-color: #216869;
}

input[type="radio"]:focus {
  background-color: #cad49d;
}

::placeholder {
  opacity: 1;
  color: #abada9;
}

.butcon {
  margin-top: 5rem;
  text-align: center;
}

button {
  height: 3rem;
  padding: 0 1rem 0 1rem;
  border:3px #cad49d solid;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f7fcf9;
}

button:hover {
  cursor: pointer;
  border-color: #000;
}

button[type="submit"] {
  margin-right: 2rem;
  background-color: #8fb339;
}

button[type="submit"]:hover {
  border-color: #8fb339;
  background-color: #40511a;
}

button[type="reset"] {
  margin-left: 2rem;
  background-color: #d16014;
}

button[type="reset"]:hover {
  border-color: #d16014;
  background-color: #aa4e11;
}

footer {
  text-align: center;
  font-weight: bold;
  color: #cad49d;
  margin-bottom: 2rem;
}

@media (max-width: 1250px) {

  main {
    width: 90%;
  }

}

@media (max-width: 860px) {

  body {
    padding: 2rem 0 0 0;
  }

  main {
    margin: 0 auto 0 auto;
    box-shadow: 0;
  }

  textarea {
    width: 45%;
  }

}

@media (max-width: 770px) {

  .enters label {
    width: 40%;
  }

  select,
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 50%;
  }

  .boxescon > p {
    width: 40%;
  }

  .boxescon > div {
    width: 50%;
  }

}


@media (max-width: 670px) {

  header {
    margin: 0 auto 2rem auto;
  }

  legend p.tips {
    margin-bottom: 0;
  }

  main {
    padding: 1rem;
  }

  form > div {
    margin-bottom: 2rem;
  }

  .enters label {
    width: 100%;
    margin: 0;
    position: relative;
    text-align: left;
    padding-left: 0.5rem;
  }

  .boxescon {
    flex-direction: column;
  }

  .boxescon div {
    width: 100%;
    margin-left: 0;
  }

  .boxescon > p {
    display: inline;
    width:auto;
    margin: 0;
    padding-left: 0.5rem;
    text-align: left;
  }

  .boxes {
    padding-left: 0.5rem;
  }

  textarea {
    width: 80%;
    margin-left: 0.5rem;
  }

  select,
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    height: 2rem;
    width: 80%;
  }

  .butcon {
    width: 90%;
    padding: 0;
  }

  button[type="submit"],
  button[type="reset"] {
    display: block;
    width: 80%;
    margin: 0 auto 1rem auto;
  }

}

@media (max-width: 450px) {

  main {
    width: 100%;
  }

}

@@media (max-width: 300px) {

  input:invalid+span:after,
  input:valid+span:after {
    content: "";
    display: none;
  }

}
